SELECT s.id, s.nama, s.stambuk, b.nama_bagian FROM santri s LEFT JOIN bagian b ON s.bagian_id = b.id WHERE (s.nama ILIKE '%AMNA%') AND s.status IN ('aktif','pengabdian') AND EXISTS ( SELECT 1 FROM bagian b_mus JOIN mustahiq_bagian mb ON mb.bagian_id = b_mus.id WHERE mb.pengajar_id = 11 AND b_mus.tingkatan_id = b.tingkatan_id AND b_mus.kelas_id = b.kelas_id );
